.CreatePage {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    font-family: none;
    font-size: 0.9rem;
    
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 30px;
    // padding: 20px;

    justify-content: center;
    // align-items: center;

    width: 100%;
    height: 100%;
    
    .global-block {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        justify-content: flex-end;
    }
    
    .dropdown {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 8px;
        justify-content: space-between;
        font-size: 14px;
    
        min-width: 240px;
        max-width: 680px;
    
        overflow: hidden;
        overflow-y: auto;
        max-height: 350px;
    }
    
    .global-checkbox-wrapper {
        width: 100%;
        /* font-weight: bold; */
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        gap: 2px;
    }
    
    .block {
        display: block
    }
    .mb-1 {
        margin-bottom: 10px;
    }
    .mb-2 {
        margin-bottom: 20px;
    }
    .ml-1 {
        margin-left: 20px;
    }
    
    .form-wrapper {
        width: 100%;
        max-width: 600px;
    
        padding: 20px;
        border-radius: 6px;
    
        background: white;
    }
    
    .label {
        display: block;
        font-weight: 500;
        color: #07074d;
    }
    
    .input {
        width: 100%;
        padding: 10px 24px;
        font-weight: 500;
    
        border-radius: 6px;
        border: 2px solid #e0e0e0;
        color: #6b7280;
    
        outline: none;
        resize: none;
    }
    .input:focus {
        border-color: #6a64f1;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
    
    .btn {
        text-align: center;
        border-radius: 6px;
        padding: 10px 20px;
        border: none;
        font-weight: 600;
        background-color: #6a64f1;
        color: white;
        cursor: pointer;
    }
    .btn:hover {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }
    
    .checkbox-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    
    .inline-input-btn {
        display: flex;
        justify-content: space-between;
    }
    
    .submit {
        text-align: center;
    }
    
    input[disabled] {
        cursor: not-allowed;
    }


    .tags {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .tags .tag {    
        display: inline-block;
        position: relative;
    
        height: 24px;
        line-height: 24px;
        margin: 0 16px 8px 0;
        padding: 0 10px 0 12px;
    
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    
        color: #fff;
        font-size: 12px;
        font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
        text-decoration: none;
        font-weight: bold;
    }
    
    
    .tags .tag:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 1px;
        width: 5px;
        height: 5px;
        
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    
        background: #fff;
    }
        
    .tags .tag:after {
        content: "";
        position: absolute;
        top:0;
        right: -12px;
        width: 0;
        height: 0;
        border-color: transparent transparent transparent #777;
        border-style: solid;
        border-width: 12px 0 12px 12px;
    }
    
    .color1 {background: #2581f9;}
    .tags .tag.color1:after {border-color: transparent transparent transparent #2581f9}

    .tags .tag:hover {background:#222 !important}
    .tags .tag:hover:after {border-color:transparent transparent transparent #222!important}
    
}