// .Popup {
//     * {
//         box-sizing: border-box;
//     }
    
//     .overlay {
//         width: 100%;
//         height: 100%;
//         position: fixed;
//         top: 0px;
//         opacity: 0.4;
//         background-color: black;
//         z-index: 0;
//     }
    
    
//     .form-mb-5 {
//         margin-bottom: 20px;
//     }
    
//     .form-mf-5 {
//         margin-left: 20px;
//     }
    
//     .form-main-wrapper {
//         position: fixed;
//         z-index: 1;
    
//         top: 0px;
//         width: 100%;
//         height: 100%;
    
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         padding: 48px;
//     }
    
//     .form-wrapper {
//         margin: 0 auto;
//         width: 100%;
//         max-width: 550px;
//         padding: 20px;
//         border-radius: 6px;
    
//         background: white;
//     }
//     .form-label {
//         display: block;
//         font-weight: 500;
//         font-size: 16px;
//         color: #07074d;
//         margin-bottom: 12px;
//     }
    
//     .form-input {
//         width: 100%;
//         padding: 12px 24px;
//         border-radius: 6px;
//         border: 1.5px solid #e0e0e0;
//         font-weight: 500;
//         font-size: 16px;
//         color: #6b7280;
//         outline: none;
//         resize: none;
//     }
//     .form-input:focus {
//         border-color: #6a64f1;
//         box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
//     }
    
//     .block-input-add {
//         display: flex;
//         justify-content: space-between;
//     }

//     .tags-wrapper {
//         position: relative;
//     }
    
    
    
//     .form-btn {
//         text-align: center;
//         font-size: 16px;
//         border-radius: 6px;
//         padding: 10px 20px;
//         border: none;
//         font-weight: 600;
//         background-color: #6a64f1;
//         color: white;
//         cursor: pointer;
//     }
//     .form-btn:hover {
//         box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
//     }
      
//     @media (min-width: 540px) {
//         .sm\:w-half {
//             width: 50%;
//         }
//     }
    
    
//     .tags {
//         display: flex;
//         justify-content: space-between;
//         width: 100%;
//     }
    
//     .tags .tag {    
//         display: inline-block;
//         position: relative;
    
//         height: 24px;
//         line-height: 24px;
//         margin: 0 16px 8px 0;
//         padding: 0 10px 0 12px;
    
//         box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    
//         color: #fff;
//         font-size: 12px;
//         font-family: "Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
//         text-decoration: none;
//         font-weight: bold;
//     }
    
    
//     .tags .tag:before {
//         content: "";
//         position: absolute;
//         top: 10px;
//         right: 1px;
//         width: 5px;
//         height: 5px;
        
//         -moz-border-radius: 50%;
//         -webkit-border-radius: 50%;
//         border-radius: 50%;
    
//         background: #fff;
//     }
        
//     .tags .tag:after {
//         content: "";
//         position: absolute;
//         top:0;
//         right: -12px;
//         width: 0;
//         height: 0;
//         border-color: transparent transparent transparent #777;
//         border-style: solid;
//         border-width: 12px 0 12px 12px;
//     }
        
//     .color1 {background: #f58220;}
//     .tags .tag.color1:after {border-color: transparent transparent transparent #f58220}
//     .color10 {background: #c45d03;}
//     .tags .tag.color10:after {border-color: transparent transparent transparent #c45d03}

//     .color2 {background: #f92eda;}
//     .tags .tag.color2:after {border-color: transparent transparent transparent #f92eda}
//     .color3 {background: #d4007f;}
//     .tags .tag.color3:after {border-color: transparent transparent transparent #d4007f}

//     .color4 {background: #97c224;}
//     .tags .tag.color4:after {border-color: transparent transparent transparent #97c224}
//     .color5 {background: #029f05;}
//     .tags .tag.color5:after {border-color: transparent transparent transparent #029f05}

//     .color6 {background: #00a6df;}
//     .tags .tag.color6:after {border-color: transparent transparent transparent #00a6df}
//     .color7 {background: #2581f9;}
//     .tags .tag.color7:after {border-color: transparent transparent transparent #2581f9}

//     .color8 {background: #de3f3e;}
//     .tags .tag.color8:after {border-color: transparent transparent transparent #de3f3e}
//     .color9 {background: #fc1e1e;}
//     .tags .tag.color9:after {border-color: transparent transparent transparent #fc1e1e}
    
//     .tags .tag:hover {background:#222 !important}
//     .tags .tag:hover:after {border-color:transparent transparent transparent #222!important}
// }